@model StudentMVC.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" id="submit" class="btn btn-default" style="visibility:hidden" />
            <input type="button" id="visibleDeleteButton" onclick="notyConf()" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/noty/packaged/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">

    function generateNoty(message) {
        var n = noty({
            text: message,
            type: 'alert',
            dismissQueue: true,
            layout: 'center',
            theme: 'relax',
            maxVisible: 1
        });
    }
    function notyConf() {
        noty({
            text: 'Are you sure you want to delete this student?',
            buttons: [
              {
                  addClass: 'btn btn-primary', text: 'Yes', onClick: function ($noty) {
                      localStorage.setItem("notyDelete", true);
                      $('#submit').click();
                      $noty.close();
                  }
              },
              {
                  addClass: 'btn btn-danger', text: 'No', onClick: function ($noty) {
                      $noty.close();
                  }
              }
            ]
        });
    }

</script>
